.subtotal {
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 130px;
  padding: 20px;
  background-color: rgb(209, 219, 219);
  border: 1px solid whitesmoke;
  border-radius: 3px;
}
.subtotal__gift {
  display: flex;
  align-items: center;
  font-style: oblique;
  margin-top: 20px;
}

.subtotal > button {
  background-color: rgb(255, 174, 0);
  font-size: medium;
  border: 1px solid;
  margin-top: 10px;
  border-color: rgb(236, 184, 107);
  color: rgb(0, 0, 0);
  height: 30px;
  font-weight: 550;
}
